name: Build Docs
on:
  workflow_call:

permissions:
  contents: write

jobs:
  docs-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --group docs

      - name: Cache MkDocs / Material
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Build (validation only on PR)
        if: github.event_name == 'pull_request'
        run: uv run mkdocs build --strict

      - name: Deploy (push -> gh-pages)
        if: github.event_name == 'push' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
        run: 'uv run mkdocs gh-deploy --force -m "docs: deploy ${{ github.sha }}"'
