name: Python Tests
on:
  workflow_call:

jobs:
  pytest:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --dev --extra tests

      - name: Run Pytest
        run: uv run pytest
